POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
WAREHOUSE_USER=warehouse
WAREHOUSE_PASSWORD=warehouse
WAREHOUSE_DB=nyctaxi
AIRFLOW_DB=airflow
METABASE_DB=metabase
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
RAW_BUCKET=nyctaxi-lake
SOURCE_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data
ZONE_LOOKUP_URL=https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Data
AIRFLOW_ADMIN_LASTNAME=Engineer
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_FERNET_KEY=
NYCTAXI_LOAD_CHUNK_SIZE=250000
